In [1]:
# generate a dataframe with 2 lists
# 1/4 of the items in the lists are different
# 3/4 of the items in the lists are the same across lists

# import libraries
import pandas as pd
import random
import string

# Function to generate random abbreviations
def generate_abbreviation():
    return ''.join(random.choices(string.ascii_uppercase, k=random.randint(2, 4)))

# Generate 150 identical abbreviations
identical_abbr = [generate_abbreviation() for _ in range(150)]

# Generate 50 unique abbreviations for each column
abbr_column_a = [generate_abbreviation() for _ in range(50)]
abbr_column_b = [generate_abbreviation() for _ in range(50)]

# Combine to form the dataset
column_a = identical_abbr + abbr_column_a
column_b = identical_abbr + abbr_column_b

# Create a DataFrame
df = pd.DataFrame({
    'List1': column_a,
    'List2': column_b
})

# Sort both columns
df['List1'] = sorted(df['List1'])
df['List2'] = sorted(df['List2'])

df.head()

  List1 List2
0   AFT   AEL
1  AIMU   AFT
2  ALUM   AHS
3    AQ  AIMU
4    AX  ALUM

In [2]:
# compare two lists and generate a file that can easily visualise the differences

# Extract columns "a" and "b"
list_a = df['List1'].dropna().tolist()
list_b = df['List2'].dropna().tolist()

# Convert to sets to find common and unique elements
set_a = set(list_a)
set_b = set(list_b)

# Find common elements
common_elements = set_a.intersection(set_b)
print('Assessments presented in both lists: ', common_elements, '\n')

# Find elements unique to each list
unique_to_a = set_a.difference(set_b)
unique_to_b = set_b.difference(set_a)

print('Assessments presented only in List1: ', unique_to_a, '\n')
print('Assessments presented only in List2: ', unique_to_b, '\n')


# Combine both sets and sort alphabetically
combined_sorted_list = sorted(set_a.union(set_b))

# Create a DataFrame to store the results
result_df = pd.DataFrame({
    'List1': [item if item in set_a else '' for item in combined_sorted_list],
    'List2': [item if item in set_b else '' for item in combined_sorted_list],
    'Both': ['Yes' if item in set_a and item in set_b else '' for item in combined_sorted_list]
})

# Save the result to a new Excel file
#result_df.to_excel('comparison_result.xlsx', index=False)

Assessments presented in both lists:  {'BSG', 'MT', 'ZA', 'IOEH', 'NEIC', 'YT', 'YUX', 'ZX', 'VUYI', 'QCHS', 'LF', 'IEW', 'WJ', 'GQVK', 'TKKD', 'SVA', 'MP', 'FNJA', 'HM', 'ZSP', 'MBJ', 'TBB', 'XVRV', 'QRG', 'ZGIS', 'AX', 'AIMU', 'BJU', 'DGCV', 'KB', 'XXQ', 'EFWL', 'DW', 'XWRK', 'ZT', 'DN', 'SS', 'ILPN', 'YQXK', 'BX', 'JPQ', 'YYAA', 'ID', 'CP', 'FB', 'NGUR', 'SSS', 'NO', 'WGIF', 'FMB', 'AQ', 'TK', 'URMH', 'WROQ', 'OS', 'JJ', 'UY', 'HIN', 'UW', 'CANV', 'DMN', 'FT', 'BZ', 'DPQM', 'XH', 'BZMY', 'WP', 'MB', 'EVG', 'NFSD', 'CKUJ', 'BFKK', 'HTYP', 'BNKS', 'GN', 'TI', 'NEV', 'LGKO', 'UWBG', 'MHT', 'JZ', 'TD', 'WHT', 'GDET', 'XKWI', 'NMZ', 'DNWL', 'FAFH', 'CQTO', 'GDN', 'PBH', 'TW', 'KZM', 'CWB', 'EQ', 'ITAB', 'KDVN', 'WO', 'ZOSE', 'GY', 'GM', 'TN', 'WXEH', 'ALUM', 'HHN', 'AFT', 'FYFH', 'PMRX', 'ZFGQ', 'GZZ', 'LAX', 'PTL', 'XLRC', 'QTDT', 'UET', 'OJWP', 'UV', 'CM', 'CF', 'DLBE', 'DLJT', 'EJ', 'DH', 'VG', 'MRSU', 'PRC', 'OO', 'GPCO', 'HI', 'EI', 'KMV', 'JG', 'LD', 'MBL', 'BNBK', 'GPJJ', 'GVE', 'UUL', 'FP', 'JKAC', 'IQ', 'DPEF', 'NJQ', 'CG', 'XRF', 'IT', 'CDG', 'XT'}

Assessments presented only in List1:  {'CGPA', 'RBJA', 'JH', 'VK', 'DGII', 'DL', 'QLDQ', 'PJ', 'OBOH', 'VVQ', 'PXOE', 'TKV', 'UH', 'FZI', 'ZRX', 'JCEF', 'EB', 'TRT', 'KNK', 'GZS', 'TWNH', 'IGM', 'VY', 'BD', 'LO', 'XG', 'CQJ', 'BK', 'OHHB', 'PHK', 'ZUW', 'LOWF', 'JSFE', 'UFHU', 'WL', 'DMM', 'MNM', 'EUG', 'CDO', 'CDR', 'VIBU', 'UU', 'XSVE', 'ZXO', 'WI', 'EA', 'HLZ'}

Assessments presented only in List2:  {'IJV', 'DDC', 'FEZ', 'QOG', 'FW', 'NZQC', 'VL', 'WPF', 'DY', 'MHFS', 'UYY', 'GROF', 'AEL', 'AWQS', 'ONM', 'ZNC', 'AHS', 'TX', 'NPRQ', 'IHS', 'BRZE', 'WRSS', 'OZ', 'MLSY', 'HZS', 'JQ', 'YAKS', 'WBJV', 'PE', 'DZ', 'AR', 'GJ', 'QF', 'HMN', 'MU', 'PZXU', 'SVT', 'KV', 'KYKJ', 'ESNM', 'GQBO', 'YQ', 'SXQL', 'DTR', 'WW', 'AQG'}

In [3]:
result_df.head(10)

  List1 List2 Both
0         AEL
1   AFT   AFT  Yes
2         AHS
3  AIMU  AIMU  Yes
4  ALUM  ALUM  Yes
5    AQ    AQ  Yes
6         AQG
7          AR
8        AWQS
9    AX    AX  Yes

In [4]:
# save to csv files
df.to_csv('List raw data.csv', index=False)
result_df.to_csv('List comparison results.csv', index=False)